# Dépendances
/node_modules

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement de développement
.env

# Fichiers de build
/dist

# Fichiers de cache
.cache
.next

# Autres fichiers et dossiers
.DS_Store
Thumbs.db
